body{
    background-color: rgb(52, 52, 255);
    text-align: center;
}
header{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
}
section{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: auto;
    width: 500px;
    border-radius: 5px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.342);
    padding: 5px;
}
footer{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#horario, #imagem
{
    margin: 10px;
    font-size: 20px;
}